# python==3.7.7
uvicorn==0.11.3
fastapi==0.54.1
sqlalchemy
mysqlclient
# async-exit-stack
# async-generator

ujson==2.0.3
python-multipart==0.0.5
python-jose[cryptography]
passlib[bcrypt]
python-dotenv==0.13.0
#requests


# flask==1.1.1
# flask-sqlalchemy==2.4.1
# sqlalchemy
# mysqlclient==1.4.6
# flask-login==0.4.1
# gunicorn==20.0.4
# gevent==1.4.0
# flask-sse==0.2.1
# Flask-APScheduler==1.11.0
